*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #111;
}
svg{
    font-size: 150px;
    padding-top: 11%;
}
.copy{
    fill:none;
    stroke: #fff;
    stroke-width: 3px;
    stroke-dasharray: 8% 30%;
    stroke-dashoffset: 0%;
    animation: textanimation 6s linear infinite;
}
@keyframes textanimation{
     100%{
         stroke-dashoffset: -35%;
     }
}
.copy1{
    stroke: #673ab7;
    animation-delay: -1s;
}
.copy2{
    stroke:rgb(0, 255, 255);
    animation-delay: -2s;
}
.copy3{
    stroke:blue;
    animation-delay: -3s;
}
.copy4{
    stroke: #f44336;
    animation-delay: -4s;
}
.copy5{
    stroke: #ffc107;
    animation-delay: -5s;
}